<form action="/stages" method="post">
  <div class="form_group">
    <label for stage_name="stage_name">Stage Name:</label>
    <input name="stage_name" type="text" class="form_control">
  </div>
  <button type="submit" class="btn">Add</button>
</form>
