<h1>Create new artist</h1>

<form action="/stages/<%= @id %>" method="post">
  <label for="artist_name">Artist name</label>
  <input name="artist_name" type="text">
  <button type=submit class="btn">Add</button>
</form>>