<h1>Festival Stages</h1>
<ul>.
  <% Stage.all.each do |stage| %>
    <li>
      <a href="/stages/<%=stage.id%>"><%= stage.name %></a>
    </li>
  <% end %>
</ul>
<a href="/stages/new">Add a new stage</a>
